.gallery-wrapper {
  width: 100%;
  height: 100vh;
  padding: 3rem 0rem 5rem 0rem;
  background-color: #f5f5f5;
  padding: 5rem 0rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: 50%;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.long-grid {
  grid-row: 1/3;
  grid-column: 1/2;
}

.griddiv {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.gallery-title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #285a43;
  margin: 0rem 0rem 3rem 0rem;
}
